<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="344" border="1">
    <tr>
      <td width="153" height="40">Description</td>
      <td width="175"><label for="description"></label>
      <input type="text" name="description" id="description" /></td>
    </tr>
    <tr>
      <td>Date</td>
      <td><label for="date"></label>
      <input type="text" name="date" id="date" /></td>
    </tr>
    <tr>
      <td>Time</td>
      <td><label for="time"></label>
      <input type="text" name="time" id="time" /></td>
    </tr>
    <tr>
      <td height="66" colspan="2"><input type="submit" name="Add" id="Add" value="ADD" /></td>
    </tr>
  </table>
</form>
</body>
</html>
