<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Home</title>
</head>
<body>
    <table border="2">
        <tr>
         <th><a href="/myapp/staff_confession_add/">Add confession</a>
         </th>  </tr>
        <tr>
            <th><a href="/myapp/staff_view_confession/">View confession</a></th>
        </tr>
        <tr>
           <th> <a href="/myapp/staff_marriage_add/">Add marriage</a>
           </th></tr>
        <tr>
          <th> <a href="/myapp/staff_view_marriage/">View marriage</a>
          </th> </tr>
        <tr>
          <th> <a href="/myapp/staff_baptism_add/">Add batisim</a>
          </th>  </tr>
        <tr>
          <th> <a href="/myapp/staff_view_baptism/">View batisim</a>
          </th> </tr>
        <tr>
           <th><a href="/myapp/staff_prayer_add/">Add prayer</a>
        </th></tr>
        <tr>
          <th><a href="/myapp/staff_view_prayer/">View prayer</a>
          </th>  </tr>
        <tr>
            <th><a href="/myapp/staff_add_sermons/">Add sermons</a>
            </th></tr>
        <tr>
          <th> <a href="/myapp/staff_view_sermons/">View sermons</a></th> 
        </tr>
    </table>
</body>
</html>