<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table width="609" border="1">
  <tr>
    <td width="51" height="44">Sl No</td>
    <td width="73">User Info</td>
    <td width="67">Place</td>
    <td width="99">Date</td>
    <td width="91">Time</td>
    <td width="91">&nbsp;</td>
    <td width="91">&nbsp;</td>
  </tr>
  <tr>
    <td height="208">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><a href="#">APPROVE</a></td>
    <td><p>&nbsp;</p>
      <p><a href="#">REJECT</a></p>
      <p>&nbsp;</p></td>
  </tr>
</table>
</form>
</body>
</html>
