<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="300" border="1">
    <tr>
      <td width="92">Name</td>
      <td width="192"><input type="text" name="name" id="textfield" /></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><input type="text" name="place" id="textfield2" /></td>
    </tr>
    <tr>
      <td>Post</td>
      <td><input type="text" name="post" id="textfield3" /></td>
    </tr>
    <tr>
      <td>Pin</td>
      <td><input type="text" name="pin" id="textfield4" /></td>
    </tr>
    <tr>
      <td>Phone No</td>
      <td><input type="text" name="phoneno" id="textfield5" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="email" id="textfield6" /></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><input type="file" name="photo" id="fileField" /></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><p>
        <label>
          <input type="radio" name="male" value="Male" id="RadioGroup1_0" />
          Male</label>
        <br />
        <label>
          <input type="radio" name="female" value="Female" id="RadioGroup1_1" />
          Female</label>
        <br />
        <label>
          <input type="radio" name="other" value="Other" id="RadioGroup1_2" />
          Other</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="button" id="button" value="ADD" /></td>
    </tr>
  </table>
</form>
</body>
</html>
