<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="287" height="224" border="1">
    <tr>
      <td height="47">Event Name</td>
      <td><label for="textfield"></label>
      <input type="text" name="evtname" id="textfield" /></td>
    </tr>
    <tr>
      <td height="47">Event Details</td>
      <td><label for="fileField"></label>
      <input type="file" name="evtdetails" id="fileField" /></td>
    </tr>
    <tr>
      <td width="130" height="47">Description</td>
      <td width="141">
        <label for="textarea"></label>
      <textarea name="descptn" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td>Date</td>
      <td><label for="date"></label>
      <input type="date" name="date" id="date" /></td>
    </tr>
    <tr>
      <td>Time</td>
      <td><label for="time"></label>
      <input type="text" name="time" id="time" /></td>
    </tr>
    <tr>
      <td>Place</td>
      <td><label for="place"></label>
      <input type="text" name="place2" id="place" /></td>
    </tr>
    <tr>
      <td height="61" colspan="2"><label for="place">
        <input type="submit" name="Add" id="Add" value="ADD" />
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
