<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="360" border="1">
    <tr>
      <td width="165" height="37">Event Name</td>
      <td width="179">
        <select name="select" id="select">
      </select></td>
    </tr>
    <tr>
      <td height="41">Event Report</td>
      <td>
      <input type="file" name="fileField" id="fileField" /></td>
    </tr>
    <tr>
      <td height="41">Description</td>
      <td>
      <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <td height="49" colspan="2"><input type="submit" name="submit" id="submit" value="ADD" /></td>
    </tr>
  </table>
</form>
</body>
</html>
